<p>Thank you for starting the process of volunteering with SD Refugee Tutoring. Currently, you are not yet
    eligible to volunteer for tutoring events. Please go to your <a href="{{ siteUrl('my-profile') }}">Profile
        Page</a> to review your status and finish your required items.</p>
