<div class="already-rsvpd-no">
    <p><strong>Thanks for the heads up</strong></p>
    <p>It looks like you've already RSVP'd for this event. Sorry to hear you can't make it this time</p>
    <p>Please take a look at <a href="/events">all our tutoring sessions</a> for more opportunities to volunteer.</p>
</div>
