<p>
    Thank you for wanting to tutor with us! Currently, you are not yet eligible to volunteer for
    tutoring events. Please go to the <a href="{{ siteUrl('volunteer-portal/requirements') }}">Volunteer Portal</a>
    to review your status and finish your required items.
</p>