<div class="please-register">
    <p><strong>Please Register to RSVP</strong></p>
    <p>All volunteers must first be registered and have passed a background check in order to RSVP. Please
        visit the
        <a href="{{ siteUrl('/volunteer') }}">Registration page</a> for details.</p>
    <p><strong>Already Registered? <a href="{{ wpLoginUrl(eventUrl) }}">Please
                Login</a></strong></p>
</div>
