<div class="rsvps-closed">
    <p><strong>Sorry!</strong></p>
    <p>We already have the max number of Volunteers we need for this session.</p>
    <p>We'd love to add you to our Waitlist, though, so we can contact you if someone cancels! Please email us
        at <a
                href="mailto:info@sdrefugeetutoring.com" target="_blank" rel="noopener noreferrer">info@sdrefugeetutoring.com</a>
    </p>
</div>
