<div class="already-rsvpd-yes">
    <p><strong>Thanks!</strong></p>
    <p>It looks like you've already RSVP'd for this event. We look forward to seeing you there!</p>
    <p>Need to cancel? Please email our Volunteer Coordinator at <a href="mailto:info@sdrefugeetutoring.com">info@sdrefugeetutoring.com</a>
    </p>
</div>
