<div class="already-rsvpd-yes">
    <p><strong>Thanks!</strong></p>
    <p>It looks like you've already RSVP'd for this event. We look forward to seeing you there!</p>
    <p>Need to cancel? Please go to the <a href="/volunteer-portal">Volunteer Portal</a> and change your RSVP from 'yes' to 'no'.</p>
    <p>Thank you for keeping us up-to-date!</p>
</div>
