.rwd-table {
    margin: 1em 0;
    width: 100%;
    max-width: 80%;
}
.rwd-table thead tr{
    border: 0px !important;
}
.rwd-table tr {
    border-style: solid;
    border-width: 0 2px;
    border-color: #b0c1cc;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.rwd-table th, .rwd-table td {
    text-align: left;
}

.rwd-table {
    color: #333;
    border-width: 0 0 2px 0;
    border-color: #b0c1cc;
    border-style: solid;
    margin: 40px 10px;
    padding: 0;
}

.rwd-table thead tr {

}

.rwd-table tr.labels {
    font-weight: 900;
    border-style: solid;
    border-bottom-style: dashed;
    border-width: 2px;
    border-color: #b0c1cc;
}

.rwd-table tr:nth-child(even) {
    background: #f7f7f7;
}

.rwd-table th, .rwd-table td {
    margin: .5em 1em;
    font-size: 120%;
}

.rwd-table th, .rwd-table td:before {
    font-weight: 900;
    font-size: 120%;
}

.rwd-table td[data-th="attended"] span.dashicons {
    overflow: hidden;
    text-indent: 50px;
    width: 2rem;
    height: 2rem;
}

.rwd-table td[data-th="attended"] span.dashicons:before {
    position: relative;
    right: 50px;
}

.button.attended-unknown:hover,
.button.attended-no:hover {
    opacity: 0.5;
}

@media (min-width: 480px) {
    .rwd-table {
        max-width: 100%;
    }

    .rwd-table td:before {
        display: none;
    }

    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child, .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child, .rwd-table td:last-child {
        padding-right: 0;
    }
    .rwd-table th, .rwd-table td {
        padding: 1em !important;
    }
}